Node-RED flow for the Webinar on August 1st, 2019.json
[
    {
        "id": "a5c02f39.d80f38",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca2cc5ee.4afba",
        "type": "watson-speech-to-text",
        "z": "a5c02f39.d80f38",
        "name": "IBM Watson Service: Speech to Text",
        "alternatives": "",
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "",
        "word-confidence": false,
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": false,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": false,
        "service-endpoint": "https://gateway-lon.watsonplatform.net/speech-to-text/api",
        "x": 247.84735107421875,
        "y": 530.826416015625,
        "wires": [
            [
                "43ea77b6.545738"
            ]
        ]
    },
    {
        "id": "16194a91.cc79b5",
        "type": "watson-text-to-speech",
        "z": "a5c02f39.d80f38",
        "name": "IBM Watson Service: Text to Speech",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_AllisonV3Voice",
        "voicehidden": "en-US_AllisonV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 1112.597412109375,
        "y": 473.9097900390625,
        "wires": [
            [
                "f6618b79.017a88"
            ]
        ]
    },
    {
        "id": "43ea77b6.545738",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "Set Payload Function 1",
        "func": "msg.payload = msg.transcription;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 429.8473815917969,
        "y": 306.826416015625,
        "wires": [
            [
                "4dcb140.40c0d6c"
            ]
        ]
    },
    {
        "id": "f6618b79.017a88",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "Set Payload Function 3",
        "func": "msg.payload = msg.speech;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1183.26416015625,
        "y": 581.9097900390625,
        "wires": [
            [
                "c7778ef9.f1e5e8"
            ]
        ]
    },
    {
        "id": "c7778ef9.f1e5e8",
        "type": "play audio",
        "z": "a5c02f39.d80f38",
        "name": "",
        "x": 1089.597412109375,
        "y": 818.9097900390625,
        "wires": []
    },
    {
        "id": "351f872a.dfa118",
        "type": "watson-conversation-v1",
        "z": "a5c02f39.d80f38",
        "name": "",
        "workspaceid": "59b67fe8-276f-42f9-8ebf-5bea35ff29ac",
        "multiuser": true,
        "context": true,
        "x": 590.9306831359863,
        "y": 1621.2430934906006,
        "wires": [
            [
                "976e917.efbbe7"
            ]
        ]
    },
    {
        "id": "712eff76.28d528",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 181.93068313598633,
        "y": 1539.2430934906006,
        "wires": [
            [
                "9a215a5b.a39188"
            ]
        ]
    },
    {
        "id": "c0800629.05c448",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "watson",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 182.43068313598633,
        "y": 1576.2430934906006,
        "wires": [
            [
                "9a215a5b.a39188"
            ]
        ]
    },
    {
        "id": "9a215a5b.a39188",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "set user 1",
        "func": "msg.user = '1';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 353.4306831359863,
        "y": 1575.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "cbc1abf3.54284",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180.93068313598633,
        "y": 1660.2430934906006,
        "wires": [
            [
                "18d18ef2.035119"
            ]
        ]
    },
    {
        "id": "ded59e1c.1647e8",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "cics",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 181.43068313598633,
        "y": 1696.2430934906006,
        "wires": [
            [
                "18d18ef2.035119"
            ]
        ]
    },
    {
        "id": "18d18ef2.035119",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "set user 2",
        "func": "msg.user = '2';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 352.4306831359863,
        "y": 1695.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "976e917.efbbe7",
        "type": "debug",
        "z": "a5c02f39.d80f38",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.output.text",
        "x": 809.9306831359863,
        "y": 1621.2430934906006,
        "wires": []
    },
    {
        "id": "8538581c.66f42",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 357.9306831359863,
        "y": 1442.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "b9003f1.197ad4",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "watson",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 357.9306831359863,
        "y": 1478.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "885894f2.0560b8",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 229.43068313598633,
        "y": 1790.2430934906006,
        "wires": [
            [
                "95a8d44e.80f978"
            ]
        ]
    },
    {
        "id": "95a8d44e.80f978",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "reset context",
        "func": "msg.params = {\n    context: {}\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 374.4306831359863,
        "y": 1790.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "879e9443.f4752",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 182.43068313598633,
        "y": 1612.2430934906006,
        "wires": [
            [
                "9a215a5b.a39188"
            ]
        ]
    },
    {
        "id": "cc7da911.22e93",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180.93068313598633,
        "y": 1732.2430934906006,
        "wires": [
            [
                "18d18ef2.035119"
            ]
        ]
    },
    {
        "id": "62ef0a7f.ea2dc4",
        "type": "inject",
        "z": "a5c02f39.d80f38",
        "name": "",
        "topic": "",
        "payload": "yes",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 357.9306831359863,
        "y": 1514.2430934906006,
        "wires": [
            [
                "351f872a.dfa118"
            ]
        ]
    },
    {
        "id": "1ce24e3c.e08ac2",
        "type": "microphone",
        "z": "a5c02f39.d80f38",
        "name": "Microphone",
        "x": 199.09735107421875,
        "y": 736.576416015625,
        "wires": [
            [
                "ca2cc5ee.4afba"
            ]
        ]
    },
    {
        "id": "fa6c5234.b45148",
        "type": "function",
        "z": "a5c02f39.d80f38",
        "name": "Set Payload Function 2",
        "func": "node.warn (JSON.stringify (msg.payload))\nif (msg.payload.output) \n{\n    output = msg.payload.output.generic [0].text;\n}\nelse \n{\n    output = 'No response';\n}\nnode.warn (output)\nmsg.payload = output;\nnode.send ([null,msg]);",
        "outputs": "2",
        "noerr": 0,
        "x": 928.7640190124512,
        "y": 376.2430763244629,
        "wires": [
            [],
            [
                "16194a91.cc79b5"
            ]
        ]
    },
    {
        "id": "4dcb140.40c0d6c",
        "type": "watson-assistant-v2",
        "z": "a5c02f39.d80f38",
        "name": "",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/assistant/api",
        "assistant_id": "8977ac4a-e737-45fa-abcc-8506d15bfaca",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "x": 777.5,
        "y": 566,
        "wires": [
            [
                "fa6c5234.b45148"
            ]
        ]
    }
]